*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.featurebg
{
    background-image: url(/swift-interns-G3/images/Group\ 16216.png);
    width: 100%;
}
.Features
{
    color: #DF0054;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    
}
.Featureheader
{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:  #4A4B4D;
    ;
  
}
.threefeatures
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.foodparagragh
{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato';
    color: #4A4B4D;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}

.workingprocess
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.working1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
     align-items: center;
    gap: 10px;
    padding: 25px;
}
.working2
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 30px;  
}
.workingprocessimage
{
    width: 150px;
    
}
.workingprocessimage2
{
    width: 100px;  
}
.workingcontent1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.workingnumber1
{
    margin-bottom: 75px;
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    width: 30px;
    background-color: #DF0054;
    border-radius: 50%;
    
}
.workingnumber2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #DF0054;
    border-radius: 50%;
    color: white;
    /* margin-top: 75px;   */
}
.workingcontentimage
{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.workingcontentimage2
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.workingprocess
{
/* background-image: url(images/line1.png); */

} 
.workingline1{
    position: absolute;
    z-index: -1;
    height: 338px;
    width: 425px;
    display: flex;
    margin-left: 340px;
    margin-top: 166px;
    /* margin-top: 166px;
    margin-left: 43px; */
}

.workingline2
{
    position: absolute;
    z-index: -1;
    height: 522px;
    width: 862px;
    display: flex;
    margin-left: 330px;
    margin-top: 542px;
   
}
.workingheader
{
    font-family: Lato;
font-size: 25px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
.workingbg
{
position: absolute;
z-index: -2;
opacity: 0.1;
}
.copyright {
    background-color: #DF0054;
    padding: 20px;
    display: flex;
    justify-content: center;
  }